{
	frankenphp
}

# The domain name of your server
http://localhost {
	# Set the webroot to the public/ directory
	root * public/
	# Enable compression (optional)
	encode zstd br gzip
	# Execute PHP files from the public/ directory and serve assets
	php_server {
		try_files {path} index.php
	}
}

podman run -d -v $PWD:/app \
    -p 8888:80 \
    -e SERVER_NAME=http://localhost \
    dunglas/frankenphp